
manifest {
    name = 'nextflow_test'
    author = 'Jun'
    homePage = 'https://github.com/jqian2015/nextflow_test'
    description = 'test'
    mainScript = 'main.nf'
    nextflowVersion = '>=22.04'
    version = '0.9.0'
}

process {
    withName: 'CramToBam2' {
        container = "us.gcr.io/broad-gatk/gatk:latest"
        cpus = 2
        memory = '5 GB'
    }
    
    withName: 'ValidateBam2' {
    container= "us.gcr.io/broad-gatk/gatk:latest"
    cpus = 2
    memory = '4 GB'
    }
    
    
}
