
manifest {
    name = 'nextflow_test'
    author = 'Jun'
    homePage = 'https://github.com/jqian2015/nextflow_test'
    description = 'test'
    mainScript = 'main.nf'
    nextflowVersion = '>=22.04'
    version = '0.9.0'
}

profiles {
    test21 {
        includeConfig 'conf/test21.config'
    }
    test22 {
        includeConfig 'conf/test22.config'
    }
}
