
profiles {
  gls {
      process.executor = "google-lifesciences"
      process.container = "gcr.io/google-containers/ubuntu-slim:0.14"
      workDir = "gs://fc-secure-069eb23e-4107-4547-b925-fffe6875f374/workflows/nextflow-scratch"
      google.location = "us-central1"
      google.zone = "us-central1-a"
      google.project = ""
      google.enableRequesterPaysBuckets = true
      google.lifeSciences.debug = true
      google.lifeSciences.serviceAccountEmail = ""
      google.lifeSciences.network = "network"
      google.lifeSciences.subnetwork = "subnetwork"
      google.lifeSciences.usePrivateAddress = false
      google.lifeSciences.copyImage = "gcr.io/google.com/cloudsdktool/cloud-sdk:alpine"
      google.lifeSciences.bootDiskSize = "20.GB"
  }
}
